body{
    font-family: serif;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 0px 0px;
    flex-wrap: wrap;
}
.nav{
    font-size: 30px;
    margin: 0px 13px;
}
.nav a{
    text-decoration: none;
    color: #A033FF;
}
.nav a:hover{
    color: #FF5C87 ;
}
.title{
    display: inline;
    font-size: 90px;
    margin-left: 30px;
    margin-top: 15px;
    background-image: linear-gradient(to right, #0088FF, #A033FF , #FF5C87);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'DM Serif Display', serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag{
    margin-right: 130px;
    padding-top: 110px;
}
.tagline{
    font-size: 75px;
}
#tagline1{
    color: #0088FF;
}
#tagline2{
    color: #FF5C87;
}
#tagline3{
    color:#A033FF;
}
.footer{
    font-size: 30px;
    text-align: center;
    color:#0088FF;
    margin-top: 10px;
}
